
 body {
   
    text-align: right;
}


h1 {

    color: blue;
    text-align: center;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font-size: 80px;
    background-image: url("picture/1.jpg");





}




h2 {
    font-size: 60px;
    text-align: center;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    background-color: darkgoldenrod;






}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    
  }
  



  table {
    border: 50px  crimson;
    width: auto;
  }
  
  



  .trstyle{
    font-size: 80px;
    color: darkred;



  }

  .tdstyle {
      text-align: center;
      font-size: 80px;




  }


div {

  background-image: url("picture/1.jpg");
}

 


  .imgZoom:hover img {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    -webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s;
    
}




p {


  font-size: 8.5ex;
  font-style: italic;
  
  
}

li{
  list-style-position: inside;
  font-size: 8.5ex ;
  font-style: italic;
}

